<div class="menu">
	<div id="logo" class="menu_item">
       	<a href="./">
			<img src="img/map.jpg" alt="Logo">
		</a>
	</div>
	<div class="menu_item">
		<nav>
			<ul>
				<li>
					<a id="home" href="/">Home</a>
				</li>
				<li>
					<a id="docs" href="/files">Documents</a>
				</li>
				<li>
					<a id="res" href="/resources">Resources</a>
				</li>
				<li>
					<a id="account" href="/account">Account</a>
				</li>
				<li>
					<a id="logout" href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
	</div>
</div>