@import url('http://fonts.googleapis.com/css?family=Palanquin+Dark');

body {
	background-color: darkolivegreen;
	min-width: 345px;
}

a {
	text-decoration: none;
	color: black;
	background-color: DarkGoldenRod;
}

a:hover {
	background-color: gold;
}

a:active {
	text-decoration: none;
}

h1 {
	display: flex;
	background-color: DarkGoldenRod;
	border: 2px solid black;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, .5);
	font-family: Palanquin Dark, cursive;
	font-size: xxx-large;
	z-index: -1;
}

li {
	list-style-type: none;
	padding-bottom: 20px;
}

body > div {
	min-width: 345px;
}

button {
	background-color: DarkGoldenRod;
	padding: 0px 20px 0px 20px;
	border: 2px solid black;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, .5);
	font-family: Palanquin Dark, cursive;
}

button:hover {
	background-color: gold;
}

button:active {
	background-color: DarkGoldenRod;
}

::placeholder {
	color: black;
	opacity: .75;
}

:-ms-input-placeholder {
	color: black;
	opacity: .75;
}

::-ms-input-placeholder {
	color: black;
	opacity: .75;
}

.visible-box {
	background-color: DarkGoldenRod;
	border: 2px solid black;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, .5);
}

.container {
	display: flex;
	justify-content: center;
}

.menu {
	display: flex;
	width: 750px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Palanquin Dark, cursive;
	font-weight: 300;
	color: white;
	align-items:center;
	z-index: 1;
}

.menu
.menu_item a img {
	float: right;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid black;
	box-shadow: 0px 0px 15px 10px DarkGoldenRod;
	z-index: 2;
}

.menu_item {
	align-self: flex-start;
}

.menu
.menu_item nav {
	margin-left: -26px;
}

.menu
.menu_item nav ul {
	display: flex;
	flex-wrap: wrap;
	padding-top: 80px;
}

.menu
.menu_item nav ul li a {
	padding: 5px 10px;
	margin: 10px;
	border: 2px solid black;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, .5);
}

.vert_block {
	font-family: Palanquin Dark, cursive;
	text-align: center;
}

.hastooltip {
	position: relative;
}

.tooltiptext {
	opacity: 0;
	width: 240px;
	background-color: DarkGoldenRod;
	color: black;
	border: 2px solid black;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, .5);
	font-family: Palanquin Dark, cursive;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -7px;
	left: 110%;
	transition: opacity .5s;
}

.tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}
.hastooltip:hover .tooltiptext {
	opacity: 1;
}
