.head_container {
	display: flex;
	justify-content: center;
	height: auto;
}

.menu_item {
	align-self: center;
}

h1 {
	justify-content: center;
	width: 900px;
	padding-top: 60px;
	padding-bottom: 50px;
	margin-top: -130px;
}

#home {
	background-color: gold;
	color: #1c1808;
}
