#res {
	background-color: gold;
	color: #1c1808;
}

table {
	background-color: gold;
}

table, th, td {
	background-color: gold;
	border: 2px solid black;
}

th, td {
	background-color: darkgoldenrod;
	text-align: center;
	padding: 10px;
}

td + td {
	position: relative;
	padding-bottom: 47%;
}

iframe {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 100%;
	height: 100%;
	border: 2px solid black;
}

form {
	font-family: Palanquin Dark, cursive;
	background-color: darkolivegreen;
	width: 200px;
	padding: 10px;
	padding-right: 14px;
}

select {
	font-family: Palanquin Dark;
	border: 2px solid black;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, .5);
}

option {
	background-color: white;
}

.select-css {
	display: block;
	font-size: 16px;
	font-family: Palanquin Dark, sans-serif;
	font-weight: 700;
	color: black;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 2px solid black;
	box-shadow: 4px 4px 0px rgba(0, 0, 0, .5);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('../img/arrow.png'),
	  linear-gradient(to bottom, darkgoldenrod 100%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
	display: none;
}

.select-css:hover {
	background-image: url('../img/arrow.png'),
	  linear-gradient(to bottom, gold 100%,#e5e5e5 100%);
}

.select-css:focus {
	background-image: url('../img/arrow.png'),
	  linear-gradient(to bottom, gold 100%,#e5e5e5 100%);
	outline: none;
}

.select-css option {
	font-weight:bold;
}